<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--通过自动扫描，发现MyBatis Mapper接口-->
    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 指定扫描的包名 ：如果扫描多个包，每个包使用半角逗号分隔 -->
        <property name="basePackage" value="com.parker.bbs.mapper"></property>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
    </bean>

    <!--配置数据源-->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <!--<property name="url" value="jdbc:mysql://localhost:3306/bbs?characterEncoding=UTF-8"></property>-->
        <!--<property name="username" value="test"></property>-->
        <!--<property name="password" value="parker123456"></property>-->
        <property name="url" value="jdbc:mysql://10.10.38.193:3306/db_practice?characterEncoding=UTF-8"></property>
        <property name="username" value="practice"></property>
        <property name="password" value="123456"></property>
        <property name="minIdle" value="5"></property>
        <property name="maxIdle" value="10"></property>
    </bean>
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="mapperLocations" value="classpath:mapper/*.xml"></property>
        <property name="configLocation" value="classpath:mybatis-config.xml"></property>
    </bean>

    <!--使用事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!-- 开启事务注解驱动 -->
    <tx:annotation-driven />
</beans>